@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MFLayout.cshtml";
}

<h2>Reports</h2>

<ul class="">
    <li>
        <a href="/Reports/GetBenchMarkHistory">BenchMark History</a>
    </li>
    <li>
        <a href="/MFDashboard/History">Mutual Funds Performance</a>
    </li>
</ul>
