<div class="container">
    <div class="row" style="background-color: red;">
        <div class="w-100 col-xs-2" style="width: 150px;">
            <input type="button" value="Add Transaction" class="btn btn-primary" data-button-new="Transaction" />
        </div>
        <div class="w-100 col-xs-2" style="width: 150px;">
            <input type="button" value="Add Dividend" class="btn btn-primary" data-button-new="Dividend" />
        </div>
         @*<div class="w-100 col-xs-2" style="width: 150px;">
            <input type="button" value="Fund Performance" class="btn btn-primary" data-button-new="Performance" />
        </div>*@

        @*<div class="w-100 col-xs-2" style="width: 150px;">
            <input type="button" value="NAV History" class="btn btn-primary" data-button-load="History" />
        </div>*@
    </div>
</div>
