<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <span class="">From Date</span><br />
            <input type="text" class="w-100-fixed" data-select="FromDate" />
        </div>
        <div class="col-xs-2">
            <span class="">To Date</span><br />
            <input type="text" class="w-100-fixed" data-select="ToDate" />
        </div>
        <div class="col-xs-2">
            <span class="">Portfolios</span><br />
            <select data-select="Portfolios" class=""></select>
        </div>
        <div class="col-xs-2" style="margin-top:12px; margin-left:40px;">
            <input type="button" value="View" class="w-100-fixed btn btn-primary" data-button="MFView"/>
        </div>
    </div>
</div>
