<div class="modal-dialog modal-lg modal-1200 font-12px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">               
                <div class="">
                    <table id="FundPerformance" class="Performance" style="width:auto;"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-button="MFCancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>