################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BusinessEntities/bin
/BusinessAccess/bin
/BusinessAccess/obj
/BusinessAccess/bin
/BusinessEntities/bin
/BusinessEntities/obj
/DataAccess/obj
/DataAccess/bin
/Database/obj
/Database/bin
/DownloadFundsData/ConnectionStrings
/DownloadFundsData/obj
/DownloadFundsData/bin
/DownloadFundsData/DownloadFundsData.csproj.user
/DownloadFundsData/2017.12.06_124019_MFFundLinks.txt
/DownloadFundsData/2017.12.06_124019_MFFundDetails.txt
/DownloadFundsData/2017.11.12_202403_MFFundLinks.txt
/DownloadFundsData/2017.11.12_202403_MFFundDetails.txt
/DownloadFundsData/2017.10.21_121022_MFFundDetails.txt
/DownloadFundsData/2017.10.13_225510_MFFundDetails.txt
/DownloadFundsData/2017.10.11_202048_MFFundDetails.txt
/DownloadFundsData/04.10.2018WSJ FundsNAV.csv
/DownloadNavHistory/obj
/DownloadNavHistory/ConnectionStrings
/DownloadNavHistory/bin
/Home.Database/obj
/Home.Database/bin
/ExcelFinance
/ExcelFinanceWeb
/Inestments.Database/obj
/Inestments.Database/bin
/hooks
/info
/Logging/obj
/Logging/ConnectionStrings
/Logging/bin
/Logging.Database/obj
/Logging.Database/bin
/packages - Copy
/packages
/ParseExcel/obj
/ParseExcel/ConnectionStrings
/ParseExcel/bin
/DataAccess/bin
/DataAccess/obj
/Database/bin
/Database/obj
/Database/bin
/Database/obj
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/PersonalAPI/obj
/PersonalAPI/ConnectionStrings
/PersonalAPI/bin
/PersonalAPI.Tests
/PersonlaFinance/ConnectionStrings
/PersonlaFinance/obj
/PersonlaFinance/bin
/PersonlaFinance.Tests/bin
/PersonlaFinance.Tests/obj
/SQL DB Profiles
/Utilities/bin
/Utilities/obj
*.dbmdl
*.jfm
/Content/bootstrap*.css
/Content/themes
/Scripts/esm
/Scripts/umd
/Scripts/Widgets/
/PersonlaFinance/Content
/PersonlaFinance/Content/bootstrap.css
/PersonlaFinance/Content/bootstrap.css.map
/PersonlaFinance/Content/bootstrap.min.css
/PersonlaFinance/Content/bootstrap.min.css.map
/PersonlaFinance/Content/bootstrap-theme.css
/PersonlaFinance/Content/bootstrap-theme.css.map
/PersonlaFinance/Content/bootstrap-theme.min.css
/PersonlaFinance/Content/bootstrap-theme.min.css.map
/PersonlaFinance/Content/themes/base/accordion.css
/PersonlaFinance/Content/themes/base/all.css
/PersonlaFinance/Content/themes/base/autocomplete.css
/PersonlaFinance/Content/themes/base/base.css
/PersonlaFinance/Content/themes/base/button.css
/PersonlaFinance/Content/themes/base/core.css
/PersonlaFinance/Content/themes/base/datepicker.css
/PersonlaFinance/Content/themes/base/dialog.css
/PersonlaFinance/Content/themes/base/draggable.css
/PersonlaFinance/Content/themes/base/menu.css
/PersonlaFinance/Content/themes/base/progressbar.css
/PersonlaFinance/Content/themes/base/resizable.css
/PersonlaFinance/Content/themes/base/selectable.css
/PersonlaFinance/Content/themes/base/selectmenu.css
/PersonlaFinance/Content/themes/base/slider.css
/PersonlaFinance/Content/themes/base/sortable.css
/PersonlaFinance/Content/themes/base/spinner.css
/PersonlaFinance/Content/themes/base/tabs.css
/PersonlaFinance/Content/themes/base/theme.css
/PersonlaFinance/Content/themes/base/tooltip.css
/PersonlaFinance/Content/bootstrap-*map
/PersonlaFinance/Content/themes/
/PersonlaFinance/Scripts/umd/popper.js
/PersonlaFinance/Scripts/umd/popper.js.map
/PersonlaFinance/Scripts/umd/popper.min.js
/PersonlaFinance/Scripts/umd/popper.min.js.map
/PersonlaFinance/Scripts/umd/popper-utils.js
/PersonlaFinance/Scripts/umd/popper-utils.js.map
/PersonlaFinance/Scripts/umd/popper-utils.min.js
/PersonlaFinance/Scripts/umd/popper-utils.min.js.map
/PersonlaFinance/Content/bootstrap.css
/PersonlaFinance/Content/bootstrap.css.map
/PersonlaFinance/Content/bootstrap.min.css
/PersonlaFinance/Content/bootstrap.min.css.map
/PersonlaFinance/Content/bootstrap-theme.css
/PersonlaFinance/Content/bootstrap-theme.css.map
/PersonlaFinance/Content/bootstrap-theme.min.css
/PersonlaFinance/Content/bootstrap-theme.min.css.map
/PersonlaFinance/Content/themes/base/accordion.css
/PersonlaFinance/Content/themes/base/all.css
/PersonlaFinance/Content/themes/base/autocomplete.css
/PersonlaFinance/Content/themes/base/base.css
/PersonlaFinance/Content/themes/base/button.css
/PersonlaFinance/Content/themes/base/core.css
/PersonlaFinance/Content/themes/base/datepicker.css
/PersonlaFinance/Content/themes/base/dialog.css
/PersonlaFinance/Content/themes/base/draggable.css
/PersonlaFinance/Content/themes/base/menu.css
/PersonlaFinance/Content/themes/base/progressbar.css
/PersonlaFinance/Content/themes/base/resizable.css
/PersonlaFinance/Content/themes/base/selectable.css
/PersonlaFinance/Content/themes/base/selectmenu.css
/PersonlaFinance/Content/themes/base/slider.css
/PersonlaFinance/Content/themes/base/sortable.css
/PersonlaFinance/Content/themes/base/spinner.css
/PersonlaFinance/Content/themes/base/tabs.css
/PersonlaFinance/Content/themes/base/theme.css
/PersonlaFinance/Content/themes/base/tooltip.css
