<div class="row">
        <div class="col-md-12 investments border-bottom">
            @RenderPage("~/Views/MutualFunds/Dashboard/_Investments.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @RenderPage("~/Views/MutualFunds/Dashboard/_InvestmentsGraph.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="">
            @RenderPage("~/Views/MutualFunds/Dashboard/_UpcomingSips.cshtml")
        </div>
    </div>