@*<div class="row">Invesetment Graph</div>*@

<div class="col-md-12 invest-graph border-bottom">
    @*<hr class="line-break"/>*@
    <div class="controls col-md-12">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="col-md-3">
                <select class="row" data-select="graph-portfolios">
                    <option id="-1">All</option>
                    <option id="1">Kanth</option>
                    @*<option id="2">Amma</option>*@
                    <option id="3">Madhukar</option>
                    <option id="4">Vaagdevi</option>
                    @*<option id="5">Vijju</option>
                    <option id="6">Rakesh</option>*@
                </select>
            </div>
            <div class="col-md-4">
                <input class="col-md-12 datepicker text-right" data-select-graph="from-date" type="text" />
            </div>
            <div class="col-md-4">
                <input class="col-md-12 datepicker text-right" data-select-graph="to-date" type="text" />
            </div>
            <div class="col-md-1">
                <input class="row" data-select-graph="get-data" type="button" value="Go"/>
            </div>
        </div>
    </div>
    <div class="row graph">
        <div class="chart" id="chartdiv"></div>
    </div>
    @*<hr class="line-break"/>*@
</div>
