@{
    ViewBag.Title = "Personal Finance";
    Layout = "~/Views/Shared/_MFLayout.cshtml";
}

<div class="">
    <div class="col-md-12 dashboard-view" data-container="view">
        @RenderPage("~/Views/MutualFunds/Dashboard/_DashboardView.cshtml")
    </div>
</div>

@Scripts.Render("~/bundles/Dashboard")
