<div class="row investments-div">
    <div class="col-md-6">
        <div class="row">

            <div class="col-md-3 investment-content gray-border text-center invest">
                <div class="">Investment</div>
                <div class="value" data-select="investment">0.00</div>
            </div>
            <div class="col-md-3 investment-content gray-border text-center">
                <div class="">Current Value</div>
                <div class="value" data-select="current-value">0.00</div>
            </div>
            <div class="col-md-3 investment-content gray-border text-center">
                <div class="">Profit</div>
                <div class="value" data-select="profit">0.00</div>
            </div>
            <div class="col-md-3 investment-content gray-border text-center">
                <div class="">1 Year</div>
                <div class="value" data-select="YTD">0.00</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3 investment-content gray-border text-center">
                <div class="">Past 3 Months</div>
                <div class="value" data-select="QTD">0.00</div>
            </div>
            <div class="col-md-3 investment-content gray-border text-center">
                <div class="">MTD</div>
                <div class="value" data-select="MTD">0.00</div>
            </div>
            @*<div class="col-md-3 investment-content gray-border text-center">
                <div class="">ULIP</div>
                <div class="value" data-select="ULIP">0.00</div>
            </div>
            <div class="col-md-3 investment-content text-center">
                <div class="">Stocks</div>
                <div class="value" data-select="Stocks">$ 0.00</div>
            </div>*@
        </div>
    </div>
</div>
