<connectionStrings>
  <add name="PersonalFinance" connectionString="data source=KANTH-PC;initial catalog=PersonalFinance;persist security info=True;Integrated Security=SSPI;" 
       providerName="System.Data.SqlClient" />
  <add name="Logging" connectionString="data source=KANTH-PC;initial catalog=Logging;persist security info=True;Integrated Security=SSPI;"
       providerName="System.Data.SqlClient" />
  <add name="HomeTransactions" connectionString="data source=KANTH-PC;initial catalog=Home;persist security info=True;Integrated Security=SSPI;"
       providerName="System.Data.SqlClient" />
  <add name="Investments" connectionString="data source=KANTH-PC;initial catalog=Investments;persist security info=True;Integrated Security=SSPI;"
       providerName="System.Data.SqlClient" />
</connectionStrings>